.label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 16px;
    line-height: 1.8;
}

.form-control {
    margin-bottom: 1rem;
}

.backStepbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    padding: 10px;
}

.intake-form .form-control,
.intake-form .form-select {
    outline: none !important;
    border-radius: 0px !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    padding-bottom: 0 !important;
    border-color: grey !important;
}

.health-history-form .form-control,
.health-history-form .form-select {
    outline: none !important;
    border-radius: 0px !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    padding-bottom: 0 !important;
    border-color: grey !important;
}

.family-form .form-control,
.health-history-form .form-select {
    outline: none !important;
    border-radius: 0px !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    padding-bottom: 0 !important;
    border-color: grey !important;
}

ul {
    list-style-type: disc;
}

.w-80 {
    width: 80px !important;
}

.w-120 {
    width: 120px !important;
}

.min-h-30 {
    min-height: 30px !important;
}

.max-w-200 {
    width: 200px !important;
}

.text-black {
    color: black !important;
}

label {
    color: black !important;
}

/*  Covid  form css */

.optionList {
    display: flex;
    flex-direction: column;
}

.optionListDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.optionListName {
    position: relative;
    margin-left: 8px;
    cursor: pointer;
    font-weight: 500;
    color: #808080;
}

.singleButtondiv{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.noticeDiv{
    height: 120px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);;
}