.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E9E9E9;
}
.leftDasbord{
    width: 25%;
    height: calc(100vh - 40px);
    background: #FFFFFF;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin: 20px;
    overflow: auto;
    padding: 10px;
    padding-top: 0px;
}
.SearchName{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;  
    letter-spacing: 0.01em;
    color: #323C47;
}
.leftDasbord::-webkit-scrollbar {
    display: none;
  }
  .mainContainer::-webkit-scrollbar {
    display: none;
  }
.mainContainer{
  width: 100%;
    height: calc(100vh - 80px);
    background: #FFFFFF;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-top: 10px;
    overflow: auto;
    
}
.mainheader{
    width: 100%;
    height: 35px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    align-items:center;
    background-color: white;
    padding-left: 10px;
}
 .Select_status{
    height: 35px;
    text-align: "center";
    width: 80%;
   border: 0;
    border-radius: 5px ;
    box-sizing: border-box;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    color: rgba(51, 77, 110, 1);
    outline: 0;
    cursor: pointer;

}
.select_bar{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 18px;
    border-radius: 5px;
    width: 80%;
    
    
}
.cardData{
    display: inline-block;
    margin: 10px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
    align-items: center;
    color: #0097F9;
    padding: 10px;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
   .tooltiptext {
    visibility: hidden;
    width: 133px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px ;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .topHeaderLeft{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;  
    letter-spacing: 0.01em;
    color: #323C47;
  }